<div id="app">
    <div id="board">
        {{#rows}}
            {{> RowView}}
        {{/rows}}
    </div>
    <div id="piece-selector">
        {{#pieceChoices}}
            {{> PieceChoiceView}}
        {{/pieceChoices}}
    </div>
</div>
