<div id="app">
    <a class="js-clicker">click me</a>
    <span>Board</span>
    <div>App view. Name: {{name}}</div>
    <div id="board">
        {{#rows}}
            {{> RowView}}
        {{/rows}}
    </div>
    <div id="piece-selector">
        {{#pieceChoices}}
            {{> PieceChoiceView}}
        {{/pieceChoices}}
    </div>
</div>
