<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PuzzleMate</title>
  <link rel="stylesheet" charset="UTF-8" href="/css/style.css">
</head>
<body>
    <h3>hello from index.mustache</h3>
    <div id="appwrapper">
        {{> AppView }}
    </div>
    <script src="/js/data.js"></script>
    <script src="/js/bundle.js"></script>
</body>
</html>
