<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PuzzleMate</title>
  <link rel="stylesheet" charset="UTF-8" href="style.css">
</head>
<body>
    <h3>hello from index.mustache</h3>
    <div id="app">
        {{> pm_app_view }}
    </div>
    <script src="//localhost:8080/js/data.js"></script>
    <script src="//localhost:8080/js/bundle.js"></script>
</body>
</html>
